body {
	font-family: arial, sans-serif;
}

h1 {
	font-family: "Homemade Apple", cursive;
	color: rgb(33, 33, 33);
}

.upcoming {
	padding-top: 30px;
	margin-top: 30px;
	font-family: "Homemade Apple", cursive;
	color: rgb(33, 33, 33);
}

small a:hover,
a:visited {
	color: pink;
}
a {
	color: pink;
}
